.setu_ecommerce_checkout_extended,.manage_contacts{
    .setu_loader_class{
        display:None;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 9999999;
        background: rgba(0,0,0,0.5);
    }
    #setu_loader{
        position: fixed;
        z-index: 1;
        left: 50%;
        top: 50%;
        width: 50px;
        height: 50px;
        margin: -76px 0 0 -76px;
        border: 10px solid #012C07;
        border-top: 10px solid white;
        border-radius: 50%;
        animation: spin 2s linear infinite;
        }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .show_loader{
        display: block !important;
    }
    #toasts {
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 9;
    }

    .my_toast {
        color: #FFF;
        border-radius: 5px;
        padding: 8px 2rem;
        margin: .5rem;
        border-radius: 4px;
        padding: 14px 20px 14px 20px;
        box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.5);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
        animation: fadeInDownSmall 0.5s ease-in-out;
        z-index: 9;
    }
    .toast-error{
        background-color: #dc3545;
    }
    .toast-info{
        background-color: #17a2b8;
    }
    .toast-success{
        background-color: #28a745;
    }
    .toast-warning{
        background-color: #E9BD0C;
    }
    #heading {
        text-transform: uppercase;
        color: #012C07;
        font-weight: normal
    }
    .manage-contacts .thead-dark th{
        background: #012C07 !important;
        border-color: #012C07 !important;
    }
    .manage-contacts .edit_delete button{
        background: #012c07;
        border: none;
        outline: none;
        color: #FFF;
        padding: 4px 10px;
        border-radius: 3px;
    }
    .add_contact_btn{
        background: #012c07;
        border: none;
        outline: none;
        color: #FFF;
        font-size: 18px;
        padding: 7px 21px;
    }
    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
    }

    .form-card {
        text-align: left
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }



    #msform input,
    #msform select,
    #msform textarea {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px
    }



    #msform input:focus,
    #msform textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #012C07;
        outline-width: 0
    }

    #msform .action-button {
        width: 100px;
        background: #012C07;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

    #msform .action-button:hover,
    #msform .action-button:focus {
        background-color: #496c3a;
    }

    #msform select option[disabled] {
        display: none;
    }

    #msform .action-button-previous,
    #msform .confirm_button {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }
    #msform .confirm_button{
        font-size: 16px;
    }
    #msform .action-button-previous:hover,#msform .confirm_button:hover,
    #msform .action-button-previous:focus,#msform .confirm_button:focus {
        background-color: #000000;
        text-decoration: none;
    }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: #012C07;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #012C07;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        font-size:20px;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

    #progressbar .active {
        color: #012C07
    }

    #progressbar li {
        list-style-type: none;
        font-size: 15px;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f007";
    }

    #progressbar #company:before {
        font-family: FontAwesome;
        content: "\f275";
    }

    #progressbar #billing:before {
        font-family: FontAwesome;
        content: "\f0d6";
    }

    #progressbar #shipping:before {
        font-family: FontAwesome;
        content: "\f0d1";
    }

    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        color: #ffffff;
        background: lightgray;
        border-radius: 8px;
        margin: 0 auto 10px auto;
        padding: 2px
    }

    #progressbar li:after {
        //content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #012C07
    }

    .progress {
        height: 8px;
        position: absolute;
        width: 100%;
        top: 22px;
        z-index: -6;
    }

    .progress-bar {
        background-color: #295218;
    }
    input[type=checkbox] {
      accent-color: #295218;
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }
    .address_row .all_address{
        text-align: left !important;

    }
    .address_row .show_address{
        margin-left: 20px !important;
    }
    .address_row .card{
        border: 2px solid #012C07;
        border-radius: 10px;
        padding: 18px;
        background: #012C07;
        color: #FFF;
        height: 100%;
    }
    .address_row .card.card-btn{
        border: 2px solid #012C07;
        font-size: 28px;
        background:  #FFF !important;
        cursor: pointer;
    }
    .address_row .card.card-btn span{
        color:  #012C07 !important;
        font-size: 16px !important;
        font-weight: 600;
        margin-top: 8px;
    }
    .address_row .card.card-btn i{
        background: #FFFFFF !important;
        color: #012C07;
        border: 2px dotted #012C07;
        padding: 16px;
        border-radius: 8px;
    }
    .address_row .card .card_header{
        //padding: 6px 0;
        display: flex;
        justify-content: end;
        margin: 8px 0;
    }

    .address_row .card .card_header i{
        cursor: pointer;
        padding: 8px;
        transition: 0.5s;
        border-radius: 4px;
        margin-left: 4px;
    }
    .address_row .card .card_header i:hover,.btn-default-address{
        background: #3e6343;
    }
    .btn-cart{
        width: 168px;
        background: #012C07;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 10px;
        float: right;
        font-size: 16px;
        font-family: montserrat;
        &:hover{
            text-decoration: none;
            background-color: #496c3a;
        }
    }
     @media only screen and (max-width: 576px) {
        .row {
          margin-right: 0px;
          margin-left: 0px;
        }
        #progressbar li{
            font-size: 12px !important;
            &::before {
                width: 40px;
                height: 40px;
                line-height: 35px;
                font-size: 16px;
            }
        }
        .title-col{
            padding: 0 !important;
        }
        .fs-title,.steps {
            font-size: 18px !important;
        }
        #msform input,.fieldlabels{
            font-size: 14px;
        }
        #progressbar,.progress{
            display: none;
        }
        .card{
            padding-top: 0 !important;
        }
        .card-pad-0{
            padding: 0 !important;
        }
    }
    @media only screen and (max-width: 768px) {
        .card{
            margin-top: 18px !important;
        }
    }
    @media only screen and (max-width: 412px) {
        .my_toast{
            font-size: 13px;
        }
        address{
              font-size: 14px;
        }
        .card.card-btn{
            padding-top: 24px !important;
            span {
              font-size: 14px !important;
            }
        }
    }
    .pe-none{
        pointer-events: none !important;
    }
    .edit_my_contact{
        background: #012c07;
        border: none;
        outline: none;
        color: #FFF;
        font-size: 18px;
        padding: 7px 10px;
        border-radius: 2px;
        margin-right : 5px;
    }
     .contact_input{
        margin: 0px;
        margin-right : 5px;
        margin-top: 1px;
    }
}
.cursor-pointer{
    cursor: pointer;
}
.permissions_td{
    .badge{
        font-size: 12px !important;
    }
    .badge-permission{
//         color: #012c07 !important;
        background-color: #012C07;
    }
}
.f-22{
    font-size: 22px !important;
}
.mar_l2{
    margin-left: 5px;
}
input[type="checkbox"][readonly='readonly'] {
  pointer-events: none;
}
input[type="text"][readonly='readonly'] {
  pointer-events: none;
}
