.o_inventory_count_kanban .o_kanban_renderer {
    --KanbanRecord-width: 480px;

    @include media-only(screen) {
        --KanbanGroup-width: 480px;
    }
    @include media-only(print) {
        --KanbanGroup-width: 400px;
    }
}

