.o_foldable_total.extra_foldable_line_red,.extra_foldable_line_red{
    color: #DC6965 !important;

}
.o_foldable_total.extra_foldable_line_green,.extra_foldable_line_green{
    color: #00A04A !important;

}
