/* Correcci贸n de orientaci贸n para dispositivos m贸viles */
@media (orientation: portrait) {
    #video, #cam_canvas {
        transform: rotate(90deg) scale(1.33); /* Ajusta la rotaci贸n y el zoom para corregir la imagen */
    }
}
